VISUALFORGE_PORT=18787
VISUALFORGE_DATA_DIR=./frontend/data
COMFYMANAGER_URL=http://127.0.0.1:18788
UNIRIG_DIR=
UNIRIG_PYTHON=
BLENDER_BIN=

COMFYMANAGER_PORT=18788
COMFYMANAGER_DATA_DIR=./comfymanager/data
COMFYUI_BASE_URL=http://127.0.0.1:8188
COMFYUI_INSTALL_DIR=./comfymanager/comfy
COMFYUI_MODELS_DIR=./comfymanager/models
COMFYUI_CUDA=
HF_TOKEN=
